@model IEnumerable<Qualify.Models.Claim>
@{
    Layout = "_Layout";
}

<div class="minor-navigation">
    <a class="button btn-success" asp-controller="claim" asp-action="addclaim">Add a claim</a>
</div>

<div class="flex-scroll-container">
    <table class="suvestine">
        <tr>
            <th class="numb">#</th>
            <th class="clnt">Client</th>
            <th class="titl">Title</th>
            <th class="desc">Description</th>
            <th class="regd">Registered</th>
            <th class="clos">Closed</th>
        </tr>

        @foreach (var claim in Model)
        {
            string currentClientName = "Undefined Client";
            foreach (var client in ViewBag.ClientsList)
            {
                if (client.ID == claim.ClientID)
                {
                    currentClientName = client.Name;
                }
            }
            <tr data-href="#">
                <td class="numb">
                    <a asp-controller="Claim" asp-action="ViewClaim" asp-route-id="@claim.ID">@claim.ID</a>
                </td>
                <td class="clnt">@currentClientName</td>
                <td class="titl">@claim.Title</td>
                <td class="desc">@claim.Description</td>
                <td class="regd">@claim.DateStart.ToString("yyyy-MM-dd")</td>
                <td class="clos">@claim.DateEnd</td>
            </tr>

         }
    </table>
    </div>